<ion-view view-title="{{user.name}}">
  <ion-content class="dashboard">
    <img class="full-image" src="{{user.avatar_url}}">
    <div class="dashboard-buttons">
      <button class="button button-block button-calm item" ng-click="viewProfile()">View Profile</button>
      <button class="button button-block button-royal item" ng-click="viewRepos()">View Repositories</button>
      <button class="button button-block button-energized item" ng-click="viewNotes()">Take Notes</button>
    </div>
  </ion-content>
</ion-view>