<ion-view view-title="Profile">
  <ion-content class="profile">
    <ion-list>
      <ion-item class="item profile-badge">
        <img src="{{user.avatar_url}}">
        <h2>{{user.name}}</h2>
        <h2>{{user.login}}</h2>
      </ion-item>
      <ion-item class="item">
        <h2>Company</h2>
        <p>{{user.company}}</p>
      </ion-item>
      <ion-item class="item">
        <h2>Location</h2>
        <p>{{user.location}}</p>
      </ion-item>
      <ion-item class="item">
        <h2>Followers</h2>
        <p>{{user.followers}}</p>
      </ion-item>
      <ion-item class="item">
        <h2>Following</h2>
        <p>{{user.following}}</p>
      </ion-item>
      <ion-item class="item">
        <h2>Email</h2>
        <p>{{user.email || 'N/A'}}</p>
      </ion-item>
      <ion-item class="item">
        <h2>Public Repos</h2>
        <p>{{user.public_repos}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>