<ion-view view-title="Profile">
  <ion-nav-bar>
    <ion-nav-back-button class="button button-icon">
      <i class="icon ion-ios-arrow-back"></i> {{user.name}}
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="profile">
    <div class="list">
      <div class="item profile-badge">
        <img src="{{user.avatar_url}}">
        <h2>{{user.name}}</h2>
        <h2>{{user.login}}</h2>
      </div>
      <div class="item" ng-repeat="repo in repos">
        <a href="#" ng-click="openRepo(repo.full_name)"><h2>{{repo.name}}</h2></a>
        <p>Stars: {{repo.stargazers_count}}</p>
        <p>{{repo.description}}</p>
      </div>
  </ion-content>
</ion-view>